.banner {
    /*height: 256px;*/
    background-image: url("https://images.adsttc.com/media/images/61ca/2e16/b038/0601/6505/32e8/newsletter/casa-bosque-jardin.jpg");
}

.circle-image img {
    width: 90px;
    height: 90px;
}
@media (min-width: 768px) {
    .circle-image img {
        width: 132px;
        height: 132px;
    }
}
@media (min-width: 1024px) {
    .circle-image img {
        width: 200px;
        height: 200px;
    }
}
div{
    border: 1px solid black;
}
